.experience {
    text-align: center;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .experience h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .experience-item {
    margin-bottom: 30px;
  }
  
  .experience h3 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .experience p {
    color: #fff;
    margin-bottom: 5px;
  }
  
  .experience ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .experience li {
    margin-bottom: 5px;
  }
  